.contact_section {
  padding: 60px  0 0 0;
  .contact_info {
    padding: 24px;
    border-radius: 16px;
    height: 100%;
    border: 2px solid $input_stroke;
  padding: 24px;
  border-radius: 16px;
  height: 100%;
  border: 2px solid $input_stroke;

  &.bg-location {
        background-color: #fceeee;
  }
  &.bg-phone {
    background-color: #e8f6f3;
  }
  &.bg-email {
    background-color: #f3f0fa;
  }
  &.bg-social {
        background-color: #e7f1fd;

  }

  .icon {
    width: 52px;
    height: 52px;
    @include centerFlex();
    border-radius: 12px;
    margin-bottom: 24px;
    color: #fff;

    &.icon-location {
    background-color: darken(#fceeee, 20%);
    }

    &.icon-phone {
      background-color: darken(#e8f6f3, 20%);
    }

    &.icon-email {
      background-color: darken(#f3f0fa, 20%);
    }
    &.icon-social {
       background-color: #0048AA; 
    }
  }

  h6 {
    color: $black;
    font-size: 16px;
    font-weight: 500;
  }

  p {
    color: $input_hint;
    font-size: 14px;
    margin-top: 8px;
  }

  a {
    color: $black;
    font-size: 14px;
    transition: $transition;

    &:hover {
      color: $main;
    }
  }

    h6 {
      color: $black;
      font-size: 16px;
      font-weight: 500;
    }

    p {
      color: $input_hint;
      font-size: 14px;
      margin-top: 8px;
    }

    a {
      color: $black;
      font-size: 14px;
      transition: $transition;
      &:hover {
        color: $main;
      }
    }
  }
.social-media-links {
  display: flex;
  align-items: center;
  gap: 16px;

  a {
    font-size: 16px;
    color: $black;
    transition: $transition;

    &:hover {
      color: $main;
    }
  }
}


  .map_container {
    margin-top: 30px;
    margin-bottom: -8px;
  }

 
  .form_ui {
    padding-inline-end: 16px;

    @media screen and (max-width: 768px) {
      padding-inline-end: 0;
    }
  }

  .form_header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
    h3 {
      color: $black;
      font-size: 24px;
      margin-bottom: 0;
    }
    p {
      color: $input_hint;
      font-size: 14px;
      margin: 0;
    }
  }
   .contact_img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
  }

}
